@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";
@import "pages/about";
@import "pages/home";
@import "products/all";



body {
  line-height: 1;
  background: white;
}
.container{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #E3E8EC;
}

h1 {
  font-weight: 100;
  font-size: 50px;
}

header{
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  align-items: center;
  z-index: 10;
  .logo{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2rem;
    a{
      text-decoration: none;
      color: #484c4f;
      transition: color .2s ease-in-out;
      &:hover{
        color: red;
      }
    }
  }
  .menu{
    font-size: 1rem;
    text-transform: uppercase;
    a{
      text-decoration: none;
      padding-right: 15px;
      color: #484c4f;
      transition: color .2s ease-in-out;
      &:hover{
        color: red;
      }
      &.cart-link{
        background: #484c4f;
        padding: 10px 20px;
        color: white;
        border-radius: 20px;
        position: relative;
        transition: all .2s ease-in-out;
        &:hover{
          color: red;
        }
        span{
          position: absolute;
          top: -5px;
          right: -5px;
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          background: black;
          color: white;
        }
      }
    }
  }
}
.content-area{
  filter: blur(0px);
  transition: filter .4s ease-in-out;
  &.cart-popup-active{
    filter: blur(20px);
  }
}

#cart-popup{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  z-index: 9;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #ecf0f3;
  height: 200px;
  transform: translate3d(0, 500px, 0);
  transition: transform .4s ease-in-out;
  &.active{
    transform: translate3d(0, 0, 0);
  }
  .cart-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 800;
    color: lightgray;
    transform: rotate(-90deg);
  }
  .cart-items{
    overflow-x: hidden;
    overflow-y: scroll;
    .item{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:center;
      width: 200px;
      position: relative;
      padding: 20px 0;
      img{
        position: absolute;
        width: 80%;
        top: -15px;
        left: -10px;
      }
      .delete-btn{
        border-radius: 20px;
        background: white;
        padding: 10px 10px;
        display: flex;
        justify-content: flex-end;
        width:100%;
        .circle{
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          background: #ecf0f3;
          height: 30px;
          width: 30px;
          border-radius: 50%;
          transition: all .4s ease-in-out;
          cursor:pointer;
          &:hover{
            background: red;

          }
        }
      }
    }
  }
  .cart-total-products, .cart-total-price{
    display: flex;
    align-items: center;
    justify-content: center;
    .cart-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-left: 2px solid gray;
      width: 100%;
      .total{
        background: white;
        padding: 5px 20px;
        border-radius: 20px;
        font-size: 1.1rem;
        font-weight: 500;
        color: lightgray;
        margin-bottom: 2rem;
      }
      .number{
        color: lightgray;
        font-size: 1.5rem;
      }
    }
  }
  .cart-checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fafafa;
    .checkout{
      font-size: 2rem;
      font-weight: 800;
      text-transform: uppercase;
      margin-bottom: 1rem;
    }
    .fab{
      font-size: 2rem;
      cursor: pointer;
      transition: all .4s ease-in-out;
      &:hover{
        color: red;
      }
    }
  }
}
.box-container{
  background: white;
  border-radius: 10px;
  padding: 80px 20px;

}
