<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>
    @!section('title')
  </title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
  <header>
    <div class="logo">
      <a href="/">TRAINER WORLD</a>
    </div>
    <div class="menu">
      <a href="/about">about</a>
      <a href="/products/new-arrivals">new arrival</a>
      <a href="/products">categories</a>
      <div id="CartBtnRoot"></div>
    </div>
  </header>


    @!section('content')
    <div id="CartPopupRoot"></div>
  


  <script src="/js/dist/vendors~CartBtn~CartPopup.js"></script>
  <script src="/js/dist/CartBtn.js"></script>
  <script src="/js/dist/CartPopup.js"></script>
</body>
</html>
