<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>
    @!section('title')
  </title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
  <header>
    <div class="logo">
      <a href="/">TRAINER WORLD</a>
    </div>
    <div class="menu">
      <a href="/about">about</a>
      <a href=#>new arrival</a>
      <a href="/products">categories</a>
      <a class="cart-link" href=#>cart<span>5</span></a>
    </div>
  </header>


    @!section('content')

  <section id="cart-popup" class="">
    <div class="cart-title">
      <div class="title">My cart</div>
    </div>
    <div class="cart-items">
      <div class="item">
        <img src="img/products/adidas-yeezy-boost-white.png">
        <div class="delete-btn">
          <div class="circle">X</div>
        </div>
      </div>
      <div class="item">
        <img src="img/products/adidas-yeezy-boost-white.png">
        <div class="delete-btn">
          <div class="circle">X</div>
        </div>
      </div>
      <div class="item">
        <img src="img/products/adidas-yeezy-boost-white.png">
        <div class="delete-btn">
          <div class="circle">X</div>
        </div>
      </div>
      <div class="item">
        <img src="img/products/adidas-yeezy-boost-white.png">
        <div class="delete-btn">
          <div class="circle">X</div>
        </div>
      </div>
      <div class="item">
        <img src="img/products/adidas-yeezy-boost-white.png">
        <div class="delete-btn">
          <div class="circle">X</div>
        </div>
      </div>
    </div>
    <div class="cart-total-products">
      <div class="cart-container">
        <div class="total">Total</div>
        <div class="number">X4</div>
      </div>
    </div>
    <div class="cart-total-price">
      <div class="cart-container">
        <div class="total">Total</div>
        <div class="number">$2000</div>
      </div>
    </div>
    <div class="cart-checkout">
      <div class="checkout">checkout</div>
      <i class="fab fa-opencart"></i>
    </div>
  </section>


  <script src="js/dist/vendors~FirstComp.js"></script>
  <script src="js/dist/FirstComp.js"></script>
</body>
</html>
